.cart{
    position: relative;
    .dropdown-menu{ display: none; margin-top: 0; position: absolute; transform: translateX(-80%); }
}

.notify{
    position: relative;
    .dropdown-menu{ display: none; margin-top: 0; position: absolute; transform: translateX(-100%); }
}

.notify:hover, .cart:hover{
    .dropdown-menu{ display: block; }
}