<div class="text-right d-flex">
  <div class="notify dropdown ml-2">
    <a class="btn btn-outline-dark border-0 mb-0 d-flex"
      data-toggle="dropdown">
      <fa-icon [icon]="notify"></fa-icon>&nbsp;&nbsp;<span class="badge bg-danger text-white mt-1">{{notiCount}}</span>
    </a>
    <div class="dropdown-menu border-0 bg-transparent">
      <div class="card border-0" style="width: 25rem;">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">List group item heading</h5>
              <small>3 days ago</small>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <small>Donec id elit non mi porta.</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">List group item heading</h5>
              <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <small class="text-muted">Donec id elit non mi porta.</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">List group item heading</h5>
              <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <small class="text-muted">Donec id elit non mi porta.</small>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="dropdown cart ml-2">
    <a [routerLink]="['/store/shopping-cart']" class="btn btn-outline-dark border-0 mb-0 d-flex"
      data-toggle="dropdown">
      <fa-icon [icon]="shoppingCart"></fa-icon>&nbsp;&nbsp;<span class="badge bg-danger text-white mt-1">{{cartItemCount}}</span>
    </a>
    <div class="dropdown-menu border-0 bg-transparent">
      <ShoppingCartModal></ShoppingCartModal>
    </div>
  </div>
</div>


