.cart{
    position: relative;
    .dropdown-menu{ display: none; margin-top: 0; position: absolute; transform: translateX(-77.5%); }
}

.notify{
    position: relative;
    .dropdown-menu{ display: none; margin-top: 0; position: absolute; transform: translateX(-77.5%); }
}

.cart:hover{
    .dropdown-menu{ display: block; }
}

.notify:hover{
    .dropdown-menu{ display: block; }
}

.card{
    max-height: 40vh;
    min-height: 40vh;
    overflow-y: scroll;
}

.badge{
    font-size: .75rem;
    position: absolute;
    border: white 2px solid;
    padding: .3rem .47rem;
    transform: translateX(-32%);
}

fa-icon{
    font-size: 1.3rem;
}