<div class="text-right d-flex justify-content-between">
  <div class="notify dropdown w-50">
    <button class="btn btn-outline-dark border-0 mb-0 w-75 text-center"
      data-toggle="dropdown">
      <fa-icon [icon]="notify"></fa-icon><span class="badge rounded-circle bg-danger text-white">{{notiCount}}</span>
    </button>
    <div class="dropdown-menu border-0 bg-transparent">
      <div class="card border-0" style="width: 25rem;">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">List group item heading</h5>
              <small>3 days ago</small>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <small>Donec id elit non mi porta.</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">List group item heading</h5>
              <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <small class="text-muted">Donec id elit non mi porta.</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">List group item heading</h5>
              <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <small class="text-muted">Donec id elit non mi porta.</small>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="dropdown cart ml-2 w-50">
    <a [routerLink]="['/store/cart']" class="btn btn-outline-dark border-0 mb-0 w-75 text-center"
      data-toggle="dropdown">
      <fa-icon [icon]="shoppingCart"></fa-icon><span *ngIf="cartItemCount > 0" class="badge rounded-circle bg-danger text-white">{{cartItemCount}}</span>
    </a>
    <div class="dropdown-menu border-0 bg-transparent">
      <StoreNotificationShoppingCart [productos]="productos" (countChanged)="countChangedHandler($event)"></StoreNotificationShoppingCart>
    </div>
  </div>
</div>